<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link rel="stylesheet" href="../css/nav.css">
    <!--This is for icon like menu icon-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>
    <script src="/Main/JAVA SCRIPT/functions.js"></script>

    <nav class="nav">
        <div class="navlogo">
            <p>Bookly</p>
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="#"class="link active">Home</a></li>
                <li><a href="#"class="link">Shop</a></li>
                <li><a href="#"class="link">About</a></li>
                <li><a href="#"class="link">contact us</a></li>
            
            </ul>
        </div>
        <div class="nav-button">
            <button class="btn" id="loginBtn" ><a href="logout">Logout</a></button>
        </div>

    </nav>
</body>
</html>