<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Section</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/blog page.css">
    <link rel="stylesheet" href="C:\New folder\footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header>
        <h1>Blog Section</h1>
    </header>

    <main id="blog">
        <section class="blog-box">
            <div class="blog-img">
                <img src="images/blog-1.jpg" alt="Blog Image 1">
            </div>
            <div class="blog-details">
                <h2>Unsilenced: A Memoir of Healing from Trauma</h2>
                <p id="hiddenParagraph" style="display: none;">"Unsilenced: A Memoir of Healing from Trauma" is a candid account of one person's journey through trauma, offering insights into the process of healing and finding a voice after experiencing deep pain.</p>
                <a href="#" id="readMore">Read More</a>
                <a href="#" id="showLess" style="display: none;">Show Less</a>
            </div>
            <div class="blog-date">
                <span>13/01</span>
            </div>
            
        </section>
        <div class="blog-box">
            <div class="blog-img">
                <img src="images/blog-2.jpg"alt="">
            </div>
            <div class="blog-details">
<h4 is a fantasy novel that introduces readers to a world of adventure></h4>
<p id="hiddenParagraph" style="display: none;"></p>
<a href="#" id="readMore">Read More</a>
<a href="#" id="showLess" style="display: none;">Show Less</a>
<p>"Shadow of the Winter Moon: Book One of the Kraven Kronicles" invites readers into an enchanting realm brimming with adventure and magic. As the story unfolds, readers are transported to a world where mysterious forces and ancient secrets shape destinies. Amidst the captivating landscapes and richly drawn characters, a tale of bravery, discovery, and the quest for truth unfolds, promising an immersive journey into a fantastical realm filled with danger and intrigue.</p>
<a href="#"> read more </a>  
            </div>
            <h1>13/01</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="images/blog-3.jpg"alt="">
            </div>
            <div class="blog-details">
<h4 > "Magical Realms Revisited: 'Wendy and the Lost Girls' and the Return to Neverland"</h4>
<p>"Magical Realms Revisited: 'Wendy and the Lost Girls' and the Return to Neverland" explores the enchanting narrative of Wendy Darling's return to the whimsical world of Neverland. This modern retelling of "Peter Pan" delves into themes of nostalgia, growth, and the enduring allure of fantasy. Join Wendy as she rediscovers the magic of childhood adventures and navigates the complexities of friendship, identity, and the timeless appeal of Neverland's captivating mysteries.</p>
<a href="#"> read more </a>  
            </div>
            <h1>13/01</h1>
        </div>


    </main>
    <footer class="footer">
        <div class="social">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-threads"></i></a>
            <a href="#"><i class="fab fa-tiktok"></i></a>
        </div>
        <ul class="list">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">about us</a>
            </li>
            <li>
                <a href="#">Shop</a>
            </li>
    
            <li>
                <a href="#">Terms</a>
            </li>
    
        </ul>
        <p class="copyright">
            &copy;	 BOOKLY    </p>
            <p>&copy; 2024 Your Website. All rights reserved.</p>
        </footer>
    
        

    <script>
        const hiddenParagraph = document.querySelector("#hiddenParagraph");
        const readMore = document.querySelector("#readMore");
        const showLess = document.querySelector("#showLess");

        readMore.onclick = showHiddenParagraph;
        showLess.onclick = hideParagraph;

        function showHiddenParagraph(event) {
            event.preventDefault();
            hiddenParagraph.style.display = "block";
            readMore.style.display = "none";
            showLess.style.display = "inline-block";
        }

        function hideParagraph(event) {
            event.preventDefault();
            hiddenParagraph.style.display = "none";
            readMore.style.display = "inline-block";
            showLess.style.display = "none";
        }
    </script>
</body>
</html>
