<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/header.css">
    <title>Header</title>

</head>

<body>

    
<!--Two headers -->

    <!--First header -->
    <header class="header">
        <div class="header-1">
        
        <a href="#" class="logo"> <i class="fas fa-book"></i> bookly</a>
        
        <form action="" class="search-form">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        
        </form>
        
        <div class="icons">
        <div id="search-btn" class="fas fa-search"></div>
        <a href="wishlist.html" class="fas fa-heart"></a>
        <a href="cart.html" class="fas fa-shopping-cart"></a>
        <a href="userpro.html" class="fas fa-cog"></a>
        </div>
        
        </div>
        
        <!--Second header -->
        
        <div class="header-2">
            <nav class="nav">
        
                <div class="nav-menu">
                        <a href="#"class="link active">Home</a>
                        <a href="shopPage.html"class="link">Shop</a>
                        <a href="#"class="link">About</a>
                        <a href="#"class="link">contact us</a>
                </div>
        
            </nav>
        </div>
        
            </header>

          </body>

            </html>